.singleInput{
    text-align: center;
    width: 38px;
    height: 4em;
    margin-right: 7px;
    margin-top: 13px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: inherit;
    color: black;
    --moz-appearance:textfield;
  }